<%= render partial: "templates/header" %>
<%= render partial: "templates/navbar", locals: {categories: @categories} %>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Image</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Show</th>
  </tr>
  </thead>
  <tbody>
  <% @products.each_with_index do |product, index| %>
  <tr>
    <td> <%= index +1 %></td>
    <td><%= product.image %></td>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= link_to "Show this product", product %></td>
  </tr>
  <% end %>
  </tbody>
</table>